[submodule "fieldtrip"]
	path = fieldtrip
	url = https://github.com/dnacombo/fieldtrip.git
[submodule "misc"]
	path = misc
	url = https://gitlab.icm-institute.org/maximilien.chaumon/miscMatlab.git
[submodule "simu/SEREEGA"]
	path = simu/SEREEGA
	url = https://github.com/dnacombo/SEREEGA.git
